---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import twenty_eight from "../images/28.jpg";
import twenty_nine from "../images/29.jpg";
import thirty from "../images/30.png";
import thirty_a from "../images/30_a.png";
import thirty_one from "../images/31.jpg";
import thirty_two from "../images/32.jpg";
import TextWithPhoto from "../components/TextWithPhoto.astro";
---

<Layout title='Publications'>
  <TextWithPhoto
    photo={twenty_eight}
    alt='Robert working on his thesis'
    title='Publications'
  >
    <p>
      Most of my writing has focused on the intersection of
      music, the arts and community. Over the years, I have dedicated myself to
      developing a style that is clear, coherent and, above all, understandable
      to the non-specialist.
    </p>
    <p>
      I have published two award winning books and dozens of articles that run
      the musical gamut from Italian American doowop to bossa nova, from Andean
      religious festivals to the evolution of vaudeville and Tin Pan Alley. At
      the heart of it all is the idea that music and the arts form the basis of
      community.
    </p>
  </TextWithPhoto>
  <TextWithPhoto
    photo={twenty_nine}
    alt='Abadiania catira'
    title='The Technologizing of the Song'
  >
    <p>
      <i>The Technologizing of the Song</i> is the study I conducted for my doctoral
      dissertation while a student at NYU. During a seventeen-month period in 1988-1990,
      I compiled an ethnographic field study in a small town called Abadiania in
      the interior of Brazil. At the time of the study, only 30 percent of the rural
      homes in Abadiania had access to electrical current while older participants
      clearly remembered a time before any electricity existed at all. The study
      contrasts the observations I recorded of the musical life in Abadiania as it
      was currently experienced with the oral history reports of 40 individuals I
      collected in the town.
    </p>
  </TextWithPhoto>
  <TextWithPhoto
    photo={thirty}
    alt='mediating the muse'
    title='Mediating the Muse'
  >
    <p>
      In surveying the history of Western music, <i>Mediating the Muse</i> seeks
      to uncover the essential nature of music as a form of communication dependent
      upon technological mediation. The book argues that all music, whether it be
      the rhythmic tapping of stones or the sophisticated coordination of a symphonic
      orchestra, is the result of applied technique and technological innovation
      that effects how we experience and conceptualize music.
    </p>
    <p>
      This book is available from Amazon and also from the publisher, Hampton
      Press.
    </p>
  </TextWithPhoto>
  <TextWithPhoto
    photo={thirty_a}
    alt='girl on swing bookcover'
    title='The Arts and Play as Educational Media in the Digital Age.'
  >
    <p>
      Co-written with Carmine Tabone and based upon 40 plus years of experience
      working with children in Jersey City, <i>The Arts and Play as Educational
        Media in the Digital Age</i> outlines the ways in which hands-on experience in the arts and 
      face-to-face interpersonal forms of play help to re-establish a balance in the education and
      socialization of children as we enter more deeply into the Digital Age.
      Winner of the Susanne Langer Award for “Outstanding Scholarship in the
      Ecology of Symbolic Form”.
    </p>
    <p>
      This book is available from Amazon and also from the publisher, Peter Lang
      Publishing.
    </p>
  </TextWithPhoto>
  <TextWithPhoto
    photo={thirty_one}
    alt='italian doowop band'
    title='Doowop Italiano'
  >
    <p>
      First prepared as a presentation at an academic convention in Italy, this
      article maintains that Italian American doowop groups in their adaptation
      of an African American form added something of their own cultural heritage
      to the mix. As descendants of recent immigrants from southern Italy, the
      singers of Italian American doowop were exposed to a rich musical
      tradition that included opera, bel canto singers, and a very vibrant
      tradition of popular song and public singing. All of this became
      integrated into their musical expression of doowop.
    </p>
    <p>
      For those interested, <a
        href='https://www.tandfonline.com/doi/full/10.1080/03007766.2017.1414663'
        target='_blank'>here is a link to the article</a
      >
    </p>
  </TextWithPhoto>
  <TextWithPhoto
    photo={thirty_two}
    alt='girl on swing bookcover'
    title='La Tirana'
  >
    <p>
      “The Virgin, The Princess and The Goddess: An Ethnographic Report of a
      Religious Festival in the Andean Region of Northern Chile,” The Atlantic
      Journal of Communication, Fall 2007.
    </p>
    <p>
      Based on a field study I conducted with the assistance of the Chilean
      musicologist Professor Lina Barrientos Pacheco, this article examines the
      clash of pagan and Christian symbolism and practices within a ritual
      celebration known as “La Tirana” conducted every July in the Andean region
      of Northern Chile.
    </p>
  </TextWithPhoto>

  <section>
    <h2 class='title'>Publications</h2>
    <h3>A. Books</h3>
    <ul class='list'>
      <li>
        <em>The Arts and Play as Educational Media in the Digital Age</em>.
        Co-authored with Carmine Tabone. (New York: Peter Lang Publishing,
        2020). Winner of the Susanne Langer Award.
      </li>
      <li>
        <em>Mediating the Muse: Music, Media and Cultural Change</em> (Cresskill,
        NJ: Hampton Press, 2004). Winner of the Dorothy Lee Award.
      </li>
      <li>
        <em>The Magic Circle of Drama</em> (2008). Co-author of the Introduction
        and overall consultant to the project. (Jersey City: Educational Arts Team,
        2008).
      </li>
    </ul>
  </section>
  <section>
    <h3 class='title'>B. Articles</h3>
    <ul class='list'>
      <li>
        “My Grandfather’s Three Questions,” Etc.: A Review of General
        Semantics, Vol. 78, no. 3-4).
      </li>
      <li>
        “The 22nd Annual Convention of the Media Ecology Association: July
        8–11, 2021,” Afterimage: The Journal of Media Arts and Cultural
        Criticism, September, 2021 (Volume 48, no. 3).
      </li>
      <li>
        Editorial review of “A Media Ecological Approach to the History of
        Music Notation: The Neume, Staff and Mensural Rhythm” for Explorations
        in Media Ecology, Winter 2021.
      </li>
      <li>
        “The Making of a Counter Environment,” Explorations in Media Ecology,
        2021. Vol. 20, No. 1, pp. 101-105.
      </li>
      <li>
        “O princípio da gangorra: As artes e o brincar como contrapeso na era
        digital. Revista ALCEU, Pontifícia Universidade Católica do Rio de
        Janeiro, Departamento de Comunicação Social / Programa de
        Pós-graduação, October 2020, DOI:
        https://doi.org/10.46391/ALCEU.v20.ed41.2020.86
      </li>
      <li>
        “Extending McLuhan” (with Liang Yi). Explorations in Media Ecology,
        2018. Vol. 17, No. 2, pp. 173-179.
      </li>
      <li>
        “Doo-Wop Italiano: Towards an Appreciation and Understanding of
        Italian American Vocal Groups of the Late 1950s and Early 1960s.”
        Popular Music and Society. Volume 42 Issue 2, DOI:
        10.1080/03007766.2017.1414663
      </li>
      <li>
        “Roger Water and Pink Floyd: The Concept Albums” and “Radiohead and
        the Global Movement for Change” (Reviews of two books published by
        Phil Rose), Explorations in Media Ecology, Vol. 17, No. 1, pp. 99-102.
      </li>
      <li>
        “A Question of Balance: Children, Pedagogy and Play in the Age of
        Digital Technology," Ricerche di Pedagogia e Didattica (Journal of
        Theories and Research in Education), Universitá di Bologna, Vol. 12,
        No.2, 2017.
      </li>
      <li>
        “The Media Ecology of Play: A Preliminary Probe of Childhood Play in
        the Digital Age,” with Carmine Tabone. Explorations in Media Ecology.
        Vol. 16, No. 1, March 2017.
      </li>
      <li>
        “On the Road to Find Out: One Jacket, Two Guitars, and a Handful of
        Songs.” The Academic Forum, 2017.
      </li>
      <li>“Meet Me Tonight in Dreamland: Revisiting S.I. Hayakawa’s ‘Popular Songs vs. The Facts of Life’”. Etc.: A Review of General Semantics, Vol. 73, No. 3, January 2016.</li>
      <li>”In My Life.” In T. Gencarelli (Ed.), Baby Boomers and Popular Culture: An Inquiry into America&#39;s Most Powerful Generation. ABC/Clio/Praeger, 2015.</li>
      <li>“Technopoly and the Education of Children: Media Ecology as a Form of Reflection, Praxis, and Resistance,” with Carmine Tabone. Explorations in Media Ecology, Volume 14, Numbers 3-4, 1 December 2015, pp. 317-331.</li>
      <li>“Media Revolution on 14th Street: Immigration, Vaudeville and the Nascence of Electronic Media in New York City.” E-COMPOS: Revista da Associação Nacional dos Programas de Pós-Graduacão em Comunicação. Brasília, v. 15, n.2, maio/ago. 2012.</li>
      <li>“Song of the Poet: Lost in Translation or Rediscovered in a New Form?” Etc.: A Review of General Semantics, Vol. 67, No. 2, April 2010.</li>
      <li>“Reporting the Right Thing: An Outline and Reflection on a Drama Workshop Exploring Media Bias in Reporting the News,” (with Carmine Tabone), Explorations in Media Ecology, Vol. 7, No. 1.</li>
      <li>“Seventy-Five Years After: The Endurance of the Kong,” featured article, Black Maria Festival Program, 2008.</li>
      <li>“What’s a Nice Guy Like You Doing In a Place Like This?: The Role of Ethnography in the Evolution of Media Ecology Theory,” Media Ecology Proceedings, 2008.</li>
      <li>“The Virgin, The Princess and The Goddess: An Ethnographic Report of a Religious Festival in the Andean Region of Northern Chile,” The Atlantic Journal of Communication, Fall 2007.</li>
      <li>“Teaching as a Creative Activity: Seven Ideas About Creativity and the Experience of Education,” Academic Forum, Vol. 13, Spring 2005.</li>
      <li>¿Shows About Nothing?, Women on Campus, Summer 2005.</li>
      <li>“Oh What a Blow that Phantom Gave Me,” (Video Review), Explorations in Media Ecology, Vol. 3, No. 2, 2004.</li>
      <li>“Mediating the Muse,” In Media Res. Fall 2003.</li>
      <li>“Paulo, Marshall, and Me,” Academic Forum, Vol. 10, Spring 2002.</li>
      <li>“Mars Invades the Classroom: A Workshop in Language Learning,” (with Carmine Tabone), The Journal of the Imagination in Language Learning, Fall 2002.</li>
      <li>“Preface to Homer: The Role of Music in the Origin and Evolution of Speech.” In Speech Communication Annual, Vol. XIV, 2000.</li>
      <li>“The Technologizing of the Song,” New Dimensions in Communication, XIII, Spring 2001.</li>
      <li>“Abadiânia Revisited,” Academic Forum, Fall 2000.</li>
      <li>“The World Languages and Cultures Grant: A Challenge and Opportunity,” contributing author, Academic Forum, Fall 2000.</li>
      <li>“Harriet Tubman and the Underground Railroad: A Drama Workshop for Junior High School Students,” (with Carmine Tabone), Stage of the Art, Spring 2000.</li>
      <li>“A Review of In Search of a Voice: Karaoke and the Construction of Identity in Chinese America by Casey Man Kong Lum,” The New Jersey Journal of Communication, Spring 1997.</li>
      <li>“Electric Children: Orality and Literacy in the Age of Technological Change,” New York State Speech Communication Association Proceedings, Spring, 1995.</li>
      <li>“Children of the World: Multi-Cultural Education in a Multi-Cultural Environment,” (with Carmine Tabone) Youth Theatre Journal, Summer, 1991.</li>
      <li>“Violeta Parra &amp; La Nueva Canción Chilena,” Studies in Latin American Popular Culture, 1986.</li>
      <li>“Bossa Nova::Novo Brasil,” Latin American Research Review, Summer 1982.</li>
      <li>“A Look Inside the World of Art,” Etc.: A Review of General Semantics, Winter 1983.</li>
      <li>“A Look Inside the World of Art,” (reprint) Utne Reader, April 1984.</li>
      <li>“Who Knows What The Future Brings?,” State of the Arts, 1982.</li>
      <li>“Our Lady of 3 A.M.,” State of the Arts, 1982.</li>
      <li>“Dominant Themes in Italian Cinema,” Cityside, Nov. 6, 1978.</li>
      <li>“Brazil and Its Carnaval,” Bugle American, March 25, 1977.</li>
      <li>“Waiting,” Pavan, Spring 1972.</li>
    </ul>
  </section>
</Layout>

<style>

  section {
    padding: 2rem 0;
  }
  .title {
    font-size: 1.25rem;
    font-weight: 900;
    text-align: left;
    text-wrap: balance;
    color: var(--text1);
    font-family: var(--font-serif);
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--sans-serif);

    > li {
      line-height: 2;
      font-size: 1.35rem;
    }
  }

  .list-wrapper {
    margin-top: 5rem;
  }
</style>
