---
import Layout from "../layouts/Layout.astro";
import twelve from "../images/12.jpg";
import seventeen from "../images/17.png";
import eighteen from "../images/18.jpg";
import TextWithPhoto from "../components/TextWithPhoto.astro";
import twenty from "../images/20.jpg";
import twenty_one from "../images/21.png";
---

<Layout title='Music'>
  <TextWithPhoto title='Music' photo={twelve} alt='Robert singing on stage'>
    <blockquote>
      <p>
        “Practice any art, music, singing, dancing, acting, drawing, painting,
        sculpting, poetry, fiction, essays, reportage, no matter how well or
        badly, not to get money and fame, but to experience becoming, to find
        out what’s inside you, to make your soul grow.”
      </p>
      <cite>— Kurt Vonnegut</cite>
    </blockquote>
  </TextWithPhoto>
  <p class='text-center'>
    Music has been the thread that has stitched my life together. I cannot even
    imagine my life without music, without playing the guitar, writing songs, or
    singing with other people.
  </p>
  <TextWithPhoto
  photo={twenty_one}
  alt='A Tale of Two Cities'
  title='A Tale of Two Cities'
>
  <p>
    My second CD collection is a cycle of songs focusing on the people, places
    and events in the history of Jersey City and Hoboken. Hoboken was once an
    important seaport (immortalized in the film On the Waterfront starring the
    young Marlon Brando) and Jersey City was once an industrial center that
    linked the island of Manhattan to the United States with railroads (also
    defunct). Both cities have a shared history of immigration, poverty,
    political corruption, and now, gentrification.
  </p>
  <p style='font-size: 1rem;'>
    A Tale of Two Cities is available for purchase at the measly price of $15
    (in check, no credit cards) which includes shipping and handling besides
    some great music: Robert Albrecht, 61 Corbin Ave., Apt. D-5, Jersey City,
    NJ 07306.
  </p>
</TextWithPhoto>
  <TextWithPhoto title='Camp Liberty' photo={seventeen} alt='Robert and Danny'>
    <p>
      Children <i>love</i> to sing! My 40 years of work with children taught me that
      young people should have the opportunity to sing every day, several times a
      day. Singing is an activity that brings joy and community into our lives.
    </p>
  </TextWithPhoto>
  <TextWithPhoto
    title='Jersey City Free Public Library Outreach'
    photo={eighteen}
    alt='Robert playing music at NJCU'
  >
    <p>
      Besides lending books, public libraries have taken on the important role
      of building and sustaining community. Here I am at Greenville Library just
      a block away from the place where I was born, with my good friend Sam
      Williams, director of the Community Awareness Series.
    </p>
  </TextWithPhoto>
  <TextWithPhoto photo={twenty} alt='song of the poet' title='Song of the Poet'>
    <p>
      <i>Song of the Poet</i> is a collection of poems that I reworked and placed in musical settings.
    </p>
    <p>
      Included are
musical version of works by Edgar Allan Poe, Pablo Neruda, Robert Frost, Walt Whitman
and other poets.
    </p>
    <a
      style='font-size: 1rem;'
      href='https://www.youtube.com/@robertalbrecht5754?app=desktop.'
      target='_blank'
      >Here is a link to my musical interpretation of Robert Frost’s poem
      “Mending Wall” with the help of my “tocayo”, Roberto Perez.
    </a>
  </TextWithPhoto>
</Layout>

<style>
  picture {
    width: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .text-center {
    font-family: var(--font-sans);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text1);
    font-family: var(--font-sans);
  }
</style>
